// --------------------------------------------GENERAL--------------------------------------------

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

$primary: white;
$secondary: black;
$tertiary: rgb(50, 71, 98);
$tertiary-darker: #354c68;
$tertiary-gradient: linear-gradient(45deg, $tertiary-darker, $tertiary);
$quaternary: rgb(235, 234, 234);
$quinary: #ff8364;
$senary: #487dba;
$yellow: #fbd816;
$orange: #f08804;
$green: #067D62;
$lighter-green: lighten(#2aa02b, 5%);
$grey-border: #D5D9D9;

h1 {
  text-decoration: none;
}



// --------------------------------------------BUTTONS and LINKS---------------------------------------------------

.bootstrap-link {
  &:hover {
    color: black;
  }
}

.card-link {
  height: 220px;
}

.buffer-reviews {
  height: 200px;
}

.like-button {
  border: none;
  background: none;
  height: 30px;

  img {
    height: 20px;
  }

  &:active {
    transform: scale(0.9);
  }
}

.like-button-bigger {
  img {
    height: 25px;
  }
}

.flex-validate {
  display: flex;
  align-items: center;

  p {
    margin: 0;
    color: red;

  }

  span {
    color: $green
  }

  img {
    margin-left: 5px;
    height: 20px;
  }
}

.modal-p-invalidate {
  p {
    color: red;
  }
}

.flex-in-basket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  margin-top: 20px;
}

.flex-add-remove-basket {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30%;
  gap: 5px;

  p {
    margin: 0;
  }
}

.add-remove-button {
  border: none;
  background-color: $lighter-green;
  border-radius: 5px;
  width: 40%;
  height: 20px;
  text-align: center;
  color: black;

  p {
    // // margin: 0;
    // translate: 5px;
    // padding-bottom: 5px;
    // font-size: 2em;
  }

  &:hover {
    background-color: $green;
  }

  &:active {
    transform: scale(0.9);
  }
}

.button-minus {
  translate: 0 -2px;
}

.button-plus {
  translate: 0 -1px;
}

.yellow-button {
  border: none;
  background-color: $yellow;
  border-radius: 10px;
  width: 100%;
  color: black;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: 5px;
  margin-bottom: 5px;

  &:hover {
    background-color: darken($yellow, 5%);
  }

  &:active {
    transform: scale(0.9);
  }
}

.yellow-button-small {
  border: none;
  background-color: $yellow;
  border-radius: 10px;
  width: 15%;
  color: black;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: 10px;
  margin-bottom: 30px;

  &:hover {
    background-color: darken($yellow, 5%);
  }

  &:active {
    transform: scale(0.9);
  }
}

.regular-button {
  border: none;
  background-color: white;
  border-radius: 10px;
  width: 100%;
  color: black;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid $grey-border;

  &:hover {
    background-color: darken(white, 5%);
  }

  &:active {
    transform: scale(0.9);
  }
}

.small-button {
  width: 20%
}

.red-button {
  border: none;
  background-color: rgb(246, 106, 106);
  border-radius: 10px;
  width: 100%;
  color: black;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: 5px;
  margin-bottom: 5px;

  &:hover {
    background-color: darken(red, 5%);
  }

  &:active {
    transform: scale(0.9);
  }
}

.link-button {
  text-align: center;
  text-decoration: none;
  width: 100%;

  &:hover {
    color: black;
  }
}

.button-fixed {
  width: 200px;
}

.button-submit-change-adress {
  margin-top: 20px;
  // width: 50%;
  margin-top: 20px;
  // flex-grow: 2;
}

.greyed-button {
  background-color: gray;
  border: none;
  opacity: 0.5;

  &:hover {
    color: black;
    background-color: gray;
  }
}

.big-button {
  height: 45px;
}

.smaller-button {
  // padding: 0;
}

// --------------------------------------------NAVIGATION BAR---------------------------------------------------
#logo-right {
  display: none;
}

#logo-left {
  margin-left: 25px;
  width: 200px;
  margin: 0 0 0 25px;
}

#dropdown-left {
  display: none;
}

#nav-bottom {
  display: none;
  height: 70px;
}

.flex-navs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-brand {
  width: 15vw;

  img {
    width: 150px;
  }
}

.nav-link {
  img {
    height: 50px;
  }
}

.select-small {
  width: 80px;
}

.select-big {
  width: 200px;
}

.navigation-flex {
  background: $tertiary-darker;
  height: 70px;
  padding: 0 30px;
  justify-content: space-between;
}

.select-nav {
  height: 40px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  background-color: $quaternary;
  font-family: Verdana,
    Geneva,
    Tahoma,
    sans-serif;
  font-size: 0.75em;
  text-align: center;
  border: 3px solid $senary;
  border-right: 1px solid grey;
}

.input-nav {
  height: 40px;
  // border-top-right-radius: 7px;
  // border-bottom-right-radius: 7px;
  border-radius: 7px;
  border: 3px solid $senary;
  width: 100%;
  padding: 0 10px;

  &:focus {
    outline: none;
  }
}

.input-nav {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}


.flex-search {
  display: flex;
  align-items: center;
  width: 60%;
  padding: 0 30px;
}

.nav-link {
  color: $primary;
  padding: 10px;

  &:hover {
    border: 2px solid white;
    color: white;
    padding: 15px;
  }

  &:focus {
    color: white;
  }
}

.nav-flex-p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 25px;

  p {
    color: $quinary;
    position: absolute;
    top: 7px;
    margin-left: -8px;
    font-size: 0.9em;
  }
}

.button-adress {
  color: #487dba;
  border: none;
  background-color: white;
  font-size: 0.8em;
  margin-bottom: 20px;

  &:hover {
    color: $orange;
  }
}

// ----------------------------------------------PRODUCT CARD----------------------------------------------


.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  width: 250px;
  height: 500px;
  margin: 10px;
  transition: transform 0.3s;
  text-align: left;

  // &:hover {
  //   transform: scale(1.02);
  // }
}

.buffer {
  padding: 0 10px;
  text-decoration: none;
  text-align: left;
  width: 100%;
  height: 400px;
  // margin-bottom: 10px;
}

.product-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.buffer-image {
  width: 230px;
  height: 250px;
  background-color: rgb(245, 245, 245);
  padding-top: 25px;
  margin-bottom: 15px;

}

.product-card-image {
  height: 200px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  // margin-top: 25px;
}

.product-card-title {
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  color: rgb(64, 105, 65);
  margin-bottom: 6px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
}

.product-card-price {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.buffer-description {
  height: 60px;
}

.product-card-description {
  font-size: 17px;
  font-weight: normal;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.7em;
  // height: 3em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;


  &:hover {
    color: $orange;
  }
}

.buffer-reviews {
  height: 20px;

  h2 {
    font-size: 1.2em;
    // margin-bottom: 5px;
  }

  &:hover {
    color: #ff8364;
  }
}

.product-card-description-full {
  font-size: 12px;
  font-weight: normal;
  text-align: center;
}

.product-card-date {
  font-size: 11px;
  font-weight: normal;
  text-align: center;
  margin-top: 30px;

  span {
    font-weight: bold;
  }
}


.product-card-distance {
  font-size: 11px;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
}

.bootstrap-link {
  text-decoration: none;
  color: black;
}

.flex-price-like {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.flex-reviews {
  height: 30px;
  display: flex;
  align-items: center;

  img {
    height: 20px;
  }

  p {
    padding-top: 6px;
    margin: 0;
    font-size: 0.7em;
    // align-self: flex-end;
    margin-left: 4px;
  }

  margin-bottom: 10px;
}

.add-padding {
  padding-top: 5px;
}


// ---------------------------------------PRODUCT SINGLE----------------------------------------

.single-page {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 30px;
  gap: 40px;

  .flex-in-basket {
    margin-bottom: 10px;
  }
}

.single-section-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  margin: 0;
}

.bottom-images-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.top-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 25vw;
  height: 50vh;
  margin-bottom: 20px;
  overflow: hidden;

  // &:hover {
  //   transform: scale(1.5);
  // }
}

.bottom-images {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 50px;
  margin: 10px;
  border: 1px solid $grey-border;
  border-radius: 5px;

  &:hover {
    border: 3px solid rgb(130, 207, 233);
    border-radius: 5px;
    cursor: pointer;
  }
}

.bottom-images-flex {
  display: flex;
  flex-wrap: wrap;
}

.single-description {
  width: 45vw;
  margin: 0;
}

.single-card-description-full {
  font-weight: bold;
  font-size: 1.3em;
}

.buffer-reviews {
  margin-bottom: 20px;
}

.flex-single-reviews {
  display: flex;
  justify-content: space-between;
}

// .single-like {
//   height: 30px;
// }

.single-like-button {
  font-size: 1.8em;
}

.single-card-price {
  font-weight: bold;
  font-size: 1.4em;
}

.single-card-info .single-card-about {
  p {
    font-size: 0.7em;
  }
}

.single-card-info {
  span {
    font-size: 0.8em;
    font-weight: bold;
  }
}

.single-section-basket {
  width: 20vw;
  border: 1px solid $grey-border;
  border-radius: 5px;
  padding: 20px;
}

.single-like {
  span {
    font-size: 14px;
    // font-weight: bold;
  }

  .like-button {
    width: 35px;
    height: 35px;

    img {
      width: 35px;
      height: 35px;
      transform: translate(0, -7px);
    }
  }
}

.saved {
  color: $green;
}

.flex-single-price-like {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;

  p {
    margin: 0;
  }
}

.single-deliver {
  p {
    margin-bottom: 0;
  }
}

// ---------------------------------------NEW PRODUCT----------------------------------------

.section-upload {
  margin-top: 20px;
}

.dropzone {
  border: 2px solid gray;
  border-radius: 10px;
  height: 215px;
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}

.dropzone-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

.dropzone-content {
  text-align: center;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.flex-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}

.loading-gif {
  // height: 30px;
  width: 100px;
}

// ---------------------------------------FORM PAGE----------------------------------------

.flex-form-product-sections {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  margin-bottom: 30px;
}

.flex-cannot-submit {
  height: 50px;
  width: 500px;
  display: flex;
  flex-direction: row;
  // flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;

  button {
    margin: 0;
  }

  p {
    color: $quinary;
    margin: 0;
  }
}

.no-button {
  border-radius: 10px;
  padding: 10px;
  background-color: $grey-border;
  color: grey;
}

.lower-button {
  // margin-top: 40px;
  width: 200px;
  margin: 0 auto;
}

.half-page {
  width: 100%;
}

.form-section {
  width: 100%;
  height: 450px;
  // border: 1px solid $grey-border;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  span {
    color: $orange;
    font-weight: bold;
    // font-size: 1.2em;
  }

  input {
    width: 100%;
    border-radius: 6px;
    margin-top: 10px;
    border: 1px solid darkgray;
  }
}

.form-input-about {
  height: 415px;
}

.section-upload {
  margin-top: 10px;
}

.form-section-start {
  width: 100%;
  height: 450px;
  // border: 1px solid $grey-border;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  span {
    color: $orange;
    font-weight: bold;
    // font-size: 1.2em;
  }

  p {
    margin: 0;
  }

  // input {
  //   width: 100%;
  //   border-radius: 6px;
  //   margin-top: 0;
  // }
}

// .css-1fdsijx-ValueContainer {
//   // height: 60px;
//   border-radius-left: 6px;
//   border: 1px solid black;
// }

// .css-1xc3v61-indicatorContainer {
//   border: 1px solid black;

// }

// .css-1xc3v61-indicatorContainer {
//   color: black;
//   border: 1px solid black;

// }

.dropzone {
  height: 150px;
  background-color: #9bd6d3;
  margin-top: 0;
  // border: 1px solid darkgray;
  border: none;

}

.dropzone-content {
  img {
    width: 100px;
  }

  p {
    // color: darken(lightgray, 10%);
    color: #367c77;
  }
}

.images-uploaded {
  span {
    color: $quinary;
    font-weight: normal;
  }
}

.no-images-uploaded {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $grey-border;
  height: 250px;
  margin-top: 20px;
  border-radius: 10px;

  p {
    margin: 10px;
    color: darken(lightgray, 10%);
  }
}

.flex-number-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-delete-image {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.success-upload {
  color: #367c77;
  margin-top: 5px;
}

.images {
  width: 100%;
  gap: 10px;
  display: flex;
  justify-content: flex-start;
  // align-items: center;
  flex-wrap: wrap;
  // border: 1px solid $grey-border;
  height: 250px;
  margin-top: 20px;
  border-radius: 10px;

  p {
    margin: 10px;
    color: #367c77;
  }
}

.form-page {
  width: 90%;
  margin: 0 auto;

  h1 {
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

.description-input {
  height: 100px;
}


//       ---------------------------------------ACCOUNT PAGE----------------------------------------

.flex-profile-page {
  margin: 0 auto;
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin: 50px;
  margin-top: 150px;

  .red-button {
    width: 280px;
  }
}

.h1-ancestor {
  position: relative;
}

.h1-relative {
  position: absolute;
  top: -110px;
}

.profile-pic {
  width: 200px;
  border-radius: 5px;
  border: 3px solid $senary;
}

.flex-pic-account-details {
  width: 280px;
}

.profile-link-flex {
  width: 100%;

  .yellow-button {
    width: 280px;
  }
}

.account-section {
  width: 350px;
  height: 130px;
  border-radius: 10px;
  border: 1px $grey-border solid;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 20px;

  h2 {
    font-size: 26px;
  }

  img {
    width: 70px;
    height: 70px
  }

  &:hover {
    background-color: rgb(232, 228, 228);
    cursor: pointer;
  }
}

.account-section-text {
  text-align: left;
}

//       ---------------------------------------BASKET PAGE----------------------------------------


.basket-main {
  width: 90%;
  margin: 0 auto;

  h1 {
    margin-top: 30px;
  }
}

.flex-delete-basket {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;

  .button-adress {
    margin: 0;
    margin-top: 35px;
  }
}

.basket-section {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;

  .flex-in-basket {
    justify-content: flex-start;
    margin-bottom: 10px;
    width: 190px;
    gap: 20px;
  }
}

.flex-basket-page {
  display: flex;
  align-items: flex-start;
}

.basket-card-image {
  width: 140px;
  height: 140px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.basket-checkout {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid gray;
  width: 300px;
  height: 400px;
}

.basket-card-description {
  font-weight: bold;
}

.basket-card {

  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  border: 1px solid $grey-border;
  padding: 20px;
  padding-left: 15px;
  border-radius: 10px;
  margin: 0;
}

.flex-count {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
}

.review-big-image {
  height: 200px;
  width: 200px;
  background-size: contain;
}

.flex-stars {
  display: flex;
  font-size: 3em;

  button {
    border: none;
    background: none;
  }
}

.flex-rating {
  display: flex;
}

.flex-submitted {
  display: flex;
}

.flex-validate {
  margin-top: 10px;
  margin-bottom: 10px;
}

.flex-modal-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;


  input {
    width: 66%;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid $grey-border;

    &:focus {
      border: 3px solid $senary;
    }
  }

  button {
    width: 33%;
    margin: 0;
  }
}

.flex-modal-input-submit {
  margin-top: 10px;
  display: flex;
  gap: 30px;
}

.basket-checkout-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 330px;

  p {
    margin: 0px;
    margin-bottom: 5px;
    font-size: 1em;
    font-weight: normal;
  }
}

.flex-order-total-basket {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h4 {
    color: rgb(201, 71, 16);
  }
}

.flex-order-subtotal-basket {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $grey-border;
  padding-top: 15px;

  h4 {
    color: black;
  }
}

.flex-order-subtotal-basket-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  // border-top: 1px solid $grey-border;
  // padding-top: 15px;

  h4 {
    color: black;
    margin-bottom: 10px;
  }
}

.flex-form-checkout {
  width: 100%;
}

.single-deliver {
  width: 100%;
  border-bottom: 1px solid $grey-border;
  border-top: 1px solid $grey-border;
  padding-top: 15px;

  h6 {
    font-weight: bold;
    margin: 0;
  }
}

.button-adress {
  margin: 0;
  margin-bottom: 10px;
}

.flex-deliver-basket {
  border: none;
  padding: 0;
}

.single-section-basket {
  h2 {
    margin: 0;
  }
}

.flex-add-remove-basket {
  select {
    border: none;
    border: 1px solid gray;
    height: 25px;
    width: 50px;
    border-radius: 6px;
  }
}

.basket-empty {
  margin: 50px;

  button {
    margin-top: 10px;
    font-size: 1em;
  }
}



// -----------------------------------ON SALE PAGE------------------------------------------





// -----------------------------------WISHLIST PAGE------------------------------------------

.flex-wishlist-remove {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}


// -----------------------------------ORDER PAGE------------------------------------------

.order-page-wrapper {
  p {
    margin: 0;
  }

  h1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.order-card-image {
  margin: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 80px;
}

.order-description {
  width: 500px;

  p {
    font-size: 12px;
    margin-top: 10px;
  }

  span {
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.7em;
    // height: 3em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

}

.flex-order-image {
  display: flex;
  align-items: center;

}

.order-card {
  border: 1px solid $grey-border;
  border-radius: 8px;
  margin-bottom: 40px;
}

.order-page-wrapper {
  width: 66%;
  margin: 0 auto;
}

.flex-order-info {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  gap: 12%;
  border-bottom: 1px solid $grey-border;
  width: 100%;
  margin: 0;
  padding-top: 8px;
  padding-left: 20px;
  height: 60px;
  background-color: lighten($grey-border, 8%);

  p {
    font-size: 14px;
  }

  p {
    span {
      font-size: 11px;
    }

  }
}

.flex-order-total {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flex-order-dispatch {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flex-order-review {
  display: flex;
  // justify-content: space-between;
}

.flex-order-buttons {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-left: 5%;
  margin-right: 5%;
}

.flex-order-buttons-below {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 30px;
  display: none;
}



.flex-order-date {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.order-page-wrapper {
  .flex-validate {
    width: 310px;
    margin-top: 50px;
    gap: 10px;
    border: 2px solid $green;
    border-radius: 8px;
    padding: 15px;
    border-left: 10px solid $green;
  }
}

.modal-card-image {
  height: 120px;
  width: 120px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 15px;
}

.button-small {
  width: 70px;
}

.flex-modal-all-review {
  h6 {
    color: $orange;
    font-weight: bold;
    font-size: 0.8em;
  }

  .flex-order-image {
    width: 100%;
    border-bottom: 1px solid $grey-border;
  }

  h5 {
    margin-top: 20px;
  }

  .flex-stars {
    justify-content: flex-start;
    font-size: 1.9em;
  }

  textarea {
    width: 100%;
    height: 150px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid $grey-border;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .flex-stars {
    width: 100%;
    padding-bottom: 10px;
  }

  display: flex;
  flex-direction: column;
  align-items: flex-start
}

.rating-div {
  width: 100%;
  border-bottom: 1px solid $grey-border;
  padding-bottom: 5px;
}

.flex-submitted {
  justify-content: flex-start;
  padding-bottom: 10px;
  margin-top: 5px;

  p {
    margin: 0;
    color: $green;
    font-size: 0.8em;
  }

  button {
    margin: 0;
    font-size: 0.8em;
  }

  display: flex;
  align-items: center;
  gap: 20px;

  img {
    width: 15px;
    height: 15px;
  }
}

.order-description-review {
  width: 300px;
}

.flex-stars {
  img {
    width: 40px;
  }
}

.flex-submitted-img {
  display: flex;
  align-items: center;
  gap: 5px;
}

.flex-submit-cancel {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

// -----------------------------------CHECKOUT PAGE------------------------------------------

.flex-form-poage {
  display: flex;
  flex-direction: column;
}

.not-visible {
  display: none;
}

// -----------------------------------PAYMENT SUCCESS PAGE------------------------------------------


.purchase-message {
  border: none;

}

// --------------------------------------------MEDIA QUERIES--------------------------------------------


// ----------------------NAVBAR---------------------

@media only screen and (max-width: 992px) {

  #trend {
    display: none;
  }

  #sell-small {
    display: contents;
  }

  #sell-big {
    display: none;
  }

  .navigation-flex {
    justify-content: space-around;
    padding: 0px;
  }

  .nav-brand {
    img {
      width: 150px;
    }
  }

  .flex-order-buttons {
    display: none;
  }

  .flex-order-buttons-below {
    display: flex;
    margin-bottom: 10px;
  }

  .order-description {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 900px) {

  #nav-bottom {
    display: contents;
  }

  .nav-link {
    padding: 0;
  }

  #logo-right {
    display: contents;

    img {
      margin-left: -130px;
      width: 250px;
    }
  }

  #logo-left {
    display: none;
  }

  #dropdown-left {
    display: contents;
    margin-left: 25px;
  }

  #dropdown-right {
    display: none;
  }

  .flex-search {
    width: 100%;
    background-color: $tertiary-darker;
    margin: 0 auto;
    padding: 0 10px 10px;
  }

  #top-search {
    display: none;
  }

  .navigation-flex {
    justify-content: space-around;
    gap: 20px;
    padding-left: 25px;
  }
}

@media only screen and (max-width: 799px) {
  .flex-order-buttons-below {
    flex-direction: column;
    align-items: center;
    gap: 1px;
  }
}

@media only screen and (max-width: 700px) {

  #logo-right {
    display: contents;

    img {
      margin-left: -100px;
      width: 220px;
    }
  }

  #dropdown-left {
    padding-left: 50px;
  }
}

@media only screen and (max-width: 523px) {

  .order-card-image {
    margin: 5px;
  }

  .order-description {
    margin: 15px;
    margin-top: 0;
    width: 80%;
  }

  .flex-order-image {
    flex-direction: column;
  }

  .flex-order-info {
    padding-left: 10px;
    gap: 9%;
    height: 53px;

    p {
      font-size: 12px;
    }

    p {
      span {
        font-size: 10px;
      }

    }
  }
}

@media only screen and (max-width: 500px) {

  #logo-right {
    display: contents;

    img {
      margin-left: -90px;
      width: 150px;
    }
  }
}

@media only screen and (max-width: 450px) {

  #logo-right {
    display: contents;

    img {
      margin-left: -70px;
      width: 150px;
    }
  }
}